Repository technicalpickles/envsense: changes, and which lefthook commands are due for each by the changed paths.
All: format, clippy, actionlint

format:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --all --locked --fix --allow-dirty --allow-staged
  stage_fixed: true

actionlint:
  run: actionlint {staged_files}
  stage_fixed: false

Update docs/testing-aqua-installation.md
  docs/testing-aqua-installation.md
Due: none

fix prettiness
  docs/testing-aqua-installation.md
Due: none

feat: improve signature validation and remove hard-coded versions
  .github/workflows/release.yml
  aqua-registry-entry.yaml
  scripts/test-aqua-local.sh
  scripts/validate-signing.sh
Due: actionlint

refactor: extract release steps into dedicated scripts
  .github/workflows/release.yml
  scripts/filter-release-files.sh
  scripts/sign-release-binaries.sh
  scripts/verify-release-signatures.sh
Due: actionlint

feat: add release workflow monitoring and validation scripts
  scripts/monitor-and-validate-release.sh
  scripts/monitor-release-workflow.sh
Due: none

chore: bump version to 0.3.2 to test improved bundle-based signing
  Cargo.lock
  Cargo.toml
  envsense-macros/Cargo.toml
  envsense-macros/envsense-macros-impl/Cargo.toml
Due: none

fix: improve signature verification with multiple identity patterns
  .github/workflows/release.yml
  scripts/debug-signature-verification.sh
  scripts/verify-release-signatures.sh
Due: actionlint

chore: bump version to 0.3.3 to trigger new release
  Cargo.lock
  Cargo.toml
  envsense-macros/Cargo.toml
  envsense-macros/envsense-macros-impl/Cargo.toml
  scripts/debug-signature-verification.sh
Due: none

fix: shellcheck warning in test-signing workflow
  .github/workflows/release.yml
  .github/workflows/test-signing.yml
  .github/workflows/validate-release.yml
  scripts/check-signing-completed.sh
Due: actionlint

refactor: move signing validation logic to reusable script
  .github/workflows/release.yml
  .github/workflows/test-signing.yml
Due: actionlint

fix: improve stat command error handling in check-signing-completed.sh
  scripts/check-signing-completed.sh
Due: none

fix: test workflow file naming conflict with filter script
  .github/workflows/test-signing.yml
Due: actionlint

fix: improve signature verification for different workflows and branches
  scripts/verify-release-signatures.sh
Due: none

debug: add verbose output to bundle verification
  scripts/verify-release-signatures.sh
Due: none

refactor: simplify cosign verification approach based on best practices
  .github/workflows/test-signing.yml
  scripts/verify-release-signatures.sh
Due: actionlint

fix: consolidate file naming patterns between test and release workflows
  .github/workflows/test-signing.yml
Due: actionlint

Bump version to 0.3.4 for release cosigning validation
  Cargo.lock
  Cargo.toml
  envsense-macros/Cargo.toml
  envsense-macros/envsense-macros-impl/Cargo.toml
  scripts/debug-signature-verification.sh
Due: none

Mark off complete work, note differences
  docs/planning/aqua-distribution/implementation-plan.md
Due: none

Implement Phase 2 & 3: Aqua registry configuration and testing
  .gitignore
  aqua-registry-entry.yaml
  docs/planning/aqua-distribution/implementation-plan.md
  docs/testing-aqua-installation.md
  scripts/test-aqua-local.sh
Due: none

Address Copilot review feedback
  aqua-registry-entry.yaml
  scripts/test-aqua-local.sh
Due: none

feat: complete Phase 4 documentation updates for aqua distribution
  README.md
  docs/planning/aqua-distribution/implementation-plan.md
Due: none

feat: implement dynamic version detection for installation instructions
  README.md
Due: none

feat: add GitHub API rate limiting troubleshooting for mise aqua
  README.md
Due: none

docs: update aqua-distribution planning docs to reflect 100% completion
  docs/planning/aqua-distribution/README.md
  docs/planning/aqua-distribution/implementation-analysis.md
  docs/planning/aqua-distribution/plan.md
  docs/planning/aqua-distribution/status.md
Due: none

Add plan
  docs/planning/remove-lld/README.md
  docs/planning/remove-lld/analysis.md
  docs/planning/remove-lld/measure-impact.sh
  docs/planning/remove-lld/removal-plan.md
Due: none

Phase 1: Remove LLD from CI workflows
  .github/workflows/ci.yml
Due: actionlint

Remove custom linker configuration (Phase 2: LLD removal)
  .cargo/config.toml
Due: none

Complete Phase 3: LLD removal cleanup and archiving
  docs/archive/planning/lld-removal/README.md
  docs/archive/planning/lld-removal/analysis.md
  docs/archive/planning/lld-removal/measure-impact.sh
  docs/archive/planning/lld-removal/removal-plan.md
  docs/planning/README.md
  scripts/install_lld.sh
Due: none

fix: resolve CI failures after LLD removal
  .github/workflows/test-release-scripts.yml
  tests/comprehensive_validation.rs
Due: format, clippy, actionlint

feat: Add Linux ARM64 (aarch64) build support
  .github/workflows/release.yml
  scripts/test-release.sh
Due: actionlint

chore: Bump version to 0.4.0 for ARM64 Linux support
  Cargo.lock
  Cargo.toml
  envsense-macros/Cargo.toml
  envsense-macros/envsense-macros-impl/Cargo.toml
Due: none

Add Amp agent detection
  src/agent.rs
  src/detectors/agent_declarative.rs
  src/detectors/env_mapping.rs
  tests/cli_declarative.rs
  tests/info_snapshots.rs
  tests/snapshots/info_snapshots__amp.snap
Due: format, clippy

Release v0.5.0
  Cargo.lock
  Cargo.toml
  changelog_excerpt.md
Due: none

Add Neovim (nvim) IDE detection support
  src/detectors/env_mapping.rs
  src/detectors/ide_declarative.rs
  tests/info_snapshots.rs
  tests/snapshots/info_snapshots__nvim_command_mode.snap
  tests/snapshots/info_snapshots__nvim_terminal_mode.snap
  tests/snapshots/nvim_command_mode.env
  tests/snapshots/nvim_terminal_mode.env
Due: format, clippy

Apply code review suggestions to nvim detection
  src/detectors/env_mapping.rs
  src/detectors/ide_declarative.rs
Due: format, clippy

don't track local claude settings
  .claude/settings.local.json
  .gitignore
Due: none

Bump version to 0.6.0
  Cargo.toml
Due: none

Path conditions:
  format: any of: *.rs
  clippy: any of: *.rs
  actionlint: any of: .github/workflows/*.yml
