Repository technicalpickles/envsense: changes, and which lefthook commands are due for each by the changed paths.
All: format, clippy, actionlint

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "*.rs"
      run: cargo fmt --all
      stage_fixed: true
      
    clippy:
      glob: "*.rs"
      run: cargo clippy --all --locked --fix --allow-dirty --allow-staged
      stage_fixed: true
      
    actionlint:
      glob: ".github/workflows/*.yml"
      run: actionlint {staged_files}
      stage_fixed: false

Update baseline snapshots to schema version 0.3.0
  tests/snapshots/cursor.json
  tests/snapshots/github_actions.json
  tests/snapshots/gitlab_ci.json
  tests/snapshots/os_linux.json
  tests/snapshots/os_macos.json
  tests/snapshots/piped_io.json
  tests/snapshots/plain_tty.json
  tests/snapshots/shell_bash.json
  tests/snapshots/shell_zsh.json
  tests/snapshots/tmux.json
  tests/snapshots/vscode.json
  tests/snapshots/vscode_insiders.json
Due: none

Remove unused Dockerfile.test
  Dockerfile.test
Due: none

Refactor release workflow to use external scripts
  .github/workflows/release.yml
  README.md
  dist/envsense-v0.1.0-aarch64-apple-darwin
  dist/envsense-v0.1.0-aarch64-apple-darwin.sha256
  dist/envsense-v0.1.0-universal-apple-darwin
  dist/envsense-v0.1.0-universal-apple-darwin.sha256
  dist/envsense-v0.1.0-x86_64-apple-darwin
  dist/envsense-v0.1.0-x86_64-apple-darwin.sha256
  docs/development.md
  docs/planning/release-workflow-implementation-plan.md
  scripts/build-target.sh
  scripts/check-version-change.sh
  scripts/create-release.sh
  scripts/prepare-binary.sh
  scripts/test-release.sh
Due: actionlint

Simplify test script to use modular build scripts
  scripts/test-release.sh
Due: none

Add actionlint configuration for consistent workflow validation
  .github/actionlint.yaml
  .github/workflows/test-release-scripts.yml
  scripts/test-release-scripts-locally.sh
Due: actionlint

Fix CI test failures on Ubuntu and macOS
  .github/actionlint.yml
  .github/workflows/test-release-scripts.yml
  CHANGELOG.md
  PR_DESCRIPTION.md
  dist/envsense-v0.1.0-test-1756864048-universal-apple-darwin
  dist/envsense-v0.1.0-test-1756864048-universal-apple-darwin.sha256
  dist/envsense-v0.1.0-test-1756864088-universal-apple-darwin
  dist/envsense-v0.1.0-test-1756864088-universal-apple-darwin.sha256
  dist/envsense-v0.1.0-test-1756864175-universal-apple-darwin
  dist/envsense-v0.1.0-test-1756864175-universal-apple-darwin.sha256
  scripts/build-target.sh
  scripts/create-release.sh
Due: actionlint

Fix cross-compilation in CI - make it actually work
  .github/workflows/test-release-scripts.yml
  changelog_excerpt.md
  dist/envsense-v0.1.0-test-1756865237-universal-apple-darwin
  dist/envsense-v0.1.0-test-1756865237-universal-apple-darwin.sha256
  scripts/build-target.sh
Due: actionlint

iterate on the release scripts nand testing
  .github/workflows/release.yml
  .github/workflows/test-release-scripts.yml
  scripts/add-tty-overrides.sh
  scripts/install_lld.sh
  scripts/prepare-binary.sh
  scripts/test-release-scripts-locally.sh
  scripts/validate-binary.sh
  scripts/validate-check-version-change.sh
  scripts/validate-release.sh
Due: actionlint

make it detect what to install
  .github/workflows/test-release-scripts.yml
  scripts/install_lld.sh
Due: actionlint

fixes
  .github/workflows/release.yml
  scripts/check-version-change.sh
  scripts/validate-check-version-change.sh
Due: actionlint

Fix validate-check-version-change.sh script
  scripts/validate-check-version-change.sh
Due: none

Fix validate-check-version-change.sh for CI environment
  scripts/validate-check-version-change.sh
Due: none

fix shebang
  scripts/install_lld.sh
Due: none

Fix cross-compilation Docker issue in CI
  scripts/build-target.sh
Due: none

Fix test workflow to use correct build types from matrix
  .github/workflows/test-release-scripts.yml
Due: actionlint

Fix validate-binary.sh binary name construction
  scripts/validate-binary.sh
Due: none

Add Docker development environment with mise
  .dockerignore
  Dockerfile.dev
  scripts/dev-docker.sh
Due: none

trying to fix cross
  .github/workflows/test-release-scripts.yml
  Dockerfile.dev
  scripts/build-target.sh
  scripts/dev-docker.sh
  scripts/validate-binary.sh
Due: actionlint

Simplify Docker dev environment: focus on development, remove cross-compilation complexity
  .actrc
  Dockerfile.dev
  dist/envsense-v0.1.0-test-aarch64-apple-darwin
  dist/envsense-v0.1.0-test-aarch64-apple-darwin.sha256
  dist/envsense-v0.1.0-test-aarch64-unknown-linux-gnu
  dist/envsense-v0.1.0-test-aarch64-unknown-linux-gnu.sha256
  dist/envsense-v0.1.0-test-universal-apple-darwin
  dist/envsense-v0.1.0-test-universal-apple-darwin.sha256
  dist/envsense-v0.1.0-test-x86_64-unknown-linux-gnu
  dist/envsense-v0.1.0-test-x86_64-unknown-linux-gnu.sha256
  scripts/dev-docker.sh
Due: none

Update CI workflows to use separate matrix entries for each target
  .github/workflows/test-release-scripts.yml
Due: actionlint

Switch to native ARM64 runners, eliminate cross-compilation complexity
  .github/workflows/release.yml
  .github/workflows/test-release-scripts.yml
  scripts/build-target.sh
Due: actionlint

Standardize on Rust 1.89.0 across all environments
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test-release-scripts.yml
  .prettierignore
  rust-toolchain.toml
Due: actionlint

prettier
  .prettierignore
  Cargo.toml
  PR_DESCRIPTION.md
  docs/archive/planning/phase4-macro-merging-implementation.md
  docs/planning/additional-cli-improvements.md
  package-lock.json
  package.json
Due: none

Eliminate duplication: single source of truth for Rust toolchain
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test-release-scripts.yml
  mise.toml
  rust-toolchain.toml
Due: actionlint

standardize on what test-releases-scripts.yml does, use same 24.0 image for both
  .github/workflows/release.yml
  .github/workflows/test-release-scripts.yml
Due: actionlint

Bump version to 0.2.0
  .github/workflows/release.yml
  .github/workflows/test-release-scripts.yml
  Cargo.lock
  Cargo.toml
  envsense-macros/Cargo.toml
  envsense-macros/envsense-macros-impl/Cargo.toml
Due: actionlint

fix: exclude test artifacts from GitHub releases
  .github/workflows/release.yml
Due: actionlint

cargo fmt
  build.rs
Due: format, clippy

fix: improve lld detection logic for macOS compatibility
  build.rs
Due: format, clippy

prettier
  Cargo.toml
Due: none

build: remove LLD dependency and ARM64 Linux builds
  .github/workflows/release.yml
  Dockerfile.dev
  build.rs
  scripts/install_lld.sh
Due: format, clippy, actionlint

chore: bump version to 0.2.1
  Cargo.lock
  Cargo.toml
  envsense-macros/Cargo.toml
  envsense-macros/envsense-macros-impl/Cargo.toml
Due: none

fix: improve release detection and eliminate duplicate workflows
  .github/workflows/release.yml
  scripts/check-version-change.sh
Due: actionlint

Remove old architecture-specific macOS binaries from dist
  dist/envsense-v0.1.0-aarch64-apple-darwin
  dist/envsense-v0.1.0-aarch64-apple-darwin.sha256
  dist/envsense-v0.1.0-x86_64-apple-darwin
  dist/envsense-v0.1.0-x86_64-apple-darwin.sha256
Due: none

Update release artifact naming to match ripgrep convention
  scripts/prepare-binary.sh
  scripts/test-release-scripts-locally.sh
  scripts/validate-binary.sh
Due: none

Bump version to 0.2.2
  Cargo.lock
  Cargo.toml
Due: none

Update internal crate versions to 0.2.2
  Cargo.lock
  envsense-macros/Cargo.toml
  envsense-macros/envsense-macros-impl/Cargo.toml
Due: none

Update release documentation for v0.2.2 changes
  docs/development.md
Due: none

Test: trigger CI for branch protection setup
  README.md
Due: none

Remove 'v' and 'Release' prefixes from release names
  .github/workflows/release.yml
  scripts/check-version-change.sh
Due: actionlint
