Repository technicalpickles/envsense: changes, and which lefthook commands are due for each by the changed paths.
All: format, clippy, actionlint

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "*.rs"
      run: cargo fmt --all
      stage_fixed: true
      
    clippy:
      glob: "*.rs"
      run: cargo clippy --all --locked --fix --allow-dirty --allow-staged
      stage_fixed: true
      
    actionlint:
      glob: ".github/workflows/*.yml"
      run: actionlint {staged_files}
      stage_fixed: false

Fix release artifact filtering for new naming convention
  .github/workflows/release.yml
Due: actionlint

Improve release testing to catch artifact filtering issues
  .github/workflows/test-release-scripts.yml
  scripts/test-release.sh
Due: actionlint

remove dist directory and gitignore it
  .gitignore
  dist/envsense-v0.1.0-test-1756864048-universal-apple-darwin
  dist/envsense-v0.1.0-test-1756864048-universal-apple-darwin.sha256
  dist/envsense-v0.1.0-test-1756864088-universal-apple-darwin
  dist/envsense-v0.1.0-test-1756864088-universal-apple-darwin.sha256
  dist/envsense-v0.1.0-test-1756864175-universal-apple-darwin
  dist/envsense-v0.1.0-test-1756864175-universal-apple-darwin.sha256
  dist/envsense-v0.1.0-test-1756865237-universal-apple-darwin
  dist/envsense-v0.1.0-test-1756865237-universal-apple-darwin.sha256
  dist/envsense-v0.1.0-test-aarch64-apple-darwin
  dist/envsense-v0.1.0-test-aarch64-apple-darwin.sha256
  dist/envsense-v0.1.0-test-aarch64-unknown-linux-gnu
  dist/envsense-v0.1.0-test-aarch64-unknown-linux-gnu.sha256
  dist/envsense-v0.1.0-test-universal-apple-darwin
  dist/envsense-v0.1.0-test-universal-apple-darwin.sha256
  dist/envsense-v0.1.0-test-x86_64-unknown-linux-gnu
  dist/envsense-v0.1.0-test-x86_64-unknown-linux-gnu.sha256
  dist/envsense-v0.1.0-universal-apple-darwin
  dist/envsense-v0.1.0-universal-apple-darwin.sha256
Due: none

Phase 1: Implement enhanced error handling
  CLI_IMPROVEMENTS_IMPLEMENTATION.md
  Cargo.lock
  Cargo.toml
  src/check.rs
  src/main.rs
Due: format, clippy

Add comprehensive unit and integration tests for Phase 1
  src/check.rs
  tests/cli_error_handling.rs
Due: format, clippy

Fix test regression in parse_error_propagation
  src/check.rs
Due: format, clippy

Fix confusing usage message for --any/--all conflicts
  src/main.rs
  tests/cli_error_handling.rs
Due: format, clippy

Add context descriptions to FieldRegistry
  src/check.rs
Due: format, clippy

Enhance list_checks() output formatting and fix predicate validation
  src/check.rs
  src/main.rs
Due: format, clippy

Add hierarchical tree display for info command
  src/main.rs
Due: format, clippy

Add rainbow color formatting for truecolor values
  Cargo.toml
  src/main.rs
Due: format, clippy

Add comprehensive tests for Phase 2 output formatting features
  tests/cli_output_formatting.rs
Due: format, clippy

Add snapshot test for enhanced --list output format
  tests/info_snapshots.rs
  tests/snapshots/info_snapshots__check_list_output.snap
Due: format, clippy

Fix error handling tests for updated predicate validation
  tests/cli_error_handling.rs
Due: format, clippy

Fix comprehensive validation tests for mise warning compatibility
  tests/comprehensive_validation.rs
Due: format, clippy

Remove --rainbow flag and integrate with standard color controls
  src/main.rs
  tests/cli_output_formatting.rs
Due: format, clippy

Standardize on single color crate and remove owo-colors dependency
  src/main.rs
Due: format, clippy

Remove --tree flag and make hierarchical display the default
  src/main.rs
  tests/cli.rs
  tests/cli_output_formatting.rs
Due: format, clippy

Adjust output format for improved readability
  src/main.rs
  tests/cli_output_formatting.rs
Due: format, clippy

Fix inconsistent indentation to use consistent 2-space increments
  src/main.rs
Due: format, clippy

Fix terminal property indentation consistency
  src/main.rs
Due: format, clippy

Fix trait-level indentation consistency
  src/main.rs
Due: format, clippy

Change key-value format from '=' to ':' for YAML-like output
  src/main.rs
  tests/cli.rs
  tests/cli_output_formatting.rs
Due: format, clippy

Align trait indentation with context indentation
  src/main.rs
Due: format, clippy

removed dependency
  Cargo.toml
Due: none

Document completed Phase 2 CLI output formatting improvements
  CLI_IMPROVEMENTS_IMPLEMENTATION.md
Due: none

Fix cli_terminal test for new hierarchical output format
  tests/cli_terminal.rs
Due: format, clippy

Add Phase 3: Configuration System with CLI flags
  CLI_IMPROVEMENTS_IMPLEMENTATION.md
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/lib.rs
  src/main.rs
Due: format, clippy

Add comprehensive integration tests for CLI improvements
  tests/cli_configuration.rs
Due: format, clippy

Update documentation for CLI improvements
  CLI_IMPROVEMENTS_IMPLEMENTATION.md
  README.md
Due: none

Complete CLI Improvements Implementation - All Phases Done
  CLI_IMPROVEMENTS_IMPLEMENTATION.md
Due: none

Move implementation plan
  docs/planning/additional-cli-improvements-implementation.md
Due: none

Bump version to 0.3.0 for CLI improvements release
  Cargo.lock
  Cargo.toml
  README.md
  envsense-macros/Cargo.toml
  envsense-macros/envsense-macros-impl/Cargo.toml
  package.json
Due: none

lint
  PR_DESCRIPTION.md
  src/main.rs
Due: format, clippy

Fix test_raw_output_format test for CI environments
  tests/cli_output_formatting.rs
Due: format, clippy

Add --version option to CLI
  src/main.rs
  tests/cli.rs
Due: format, clippy

Start aqua plan docs
  docs/planning/aqua-mise-distribution-plan.md
  docs/planning/signing-validation-strategy.md
Due: none

Reorganize planning docs: group related work and archive completed items
  docs/archive/planning/additional-cli-improvements-implementation.md
  docs/archive/planning/additional-cli-improvements.md
  docs/archive/planning/contextual-value-extraction.md
  docs/archive/planning/declarative-consolidation/plan.md
  docs/archive/planning/declarative-consolidation/testing-strategy.md
  docs/archive/planning/lld-adoption/plan.md
  docs/archive/planning/lld-adoption/strategy.md
  docs/archive/planning/override-system-design.md
  docs/planning/README.md
  docs/planning/aqua-distribution/plan.md
  docs/planning/aqua-distribution/signing-validation.md
  docs/planning/aqua-distribution/status.md
  docs/planning/cli-streamlining/implementation-overview.md
  docs/planning/cli-streamlining/phase-1-foundation.md
  docs/planning/cli-streamlining/phase-2-parser.md
  docs/planning/cli-streamlining/phase-3-detection.md
  docs/planning/cli-streamlining/phase-4-cli-integration.md
  docs/planning/cli-streamlining/phase-5-migration.md
  docs/planning/cli-streamlining/plan.md
  docs/planning/cli-streamlining/status.md
  docs/planning/release-workflow/plan.md
  docs/planning/release-workflow/status.md
  docs/reorganize-planning-docs.sh
Due: none

restruction plan docs
  docs/planning/aqua-distribution/README.md
  docs/planning/aqua-distribution/implementation-plan.md
  docs/planning/aqua-distribution/signing-validation-strategy.md
Due: none

feat: implement aqua/mise distribution support
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  aqua-registry-entry.yaml
  docs/testing-aqua-installation.md
  envsense-macros/Cargo.toml
  envsense-macros/envsense-macros-impl/Cargo.toml
  scripts/test-aqua-local.sh
  scripts/validate-signing.sh
Due: actionlint
